.banner {
    background-image: url(../img/search-engine-optimization-4111000_1280.jp);
    height: 59vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;


}