/*
1. GENEL
2. HEADER
3. BANNER
4. HAKKIMDA
5. HIZMETLER
6. MUSTERILER
7. REFERANSLAR
8. ILETİŞİM
9. FOOTER
*/

/* GENEL */
:root {
    --renk1: rgb(134, 1, 116);
}

body {
    font-family: Nunito;
    font-size: 1rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

/* GENEL */

/* HEADER */
header {
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
}

header nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;

    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
    transition: all 1s;
}

header nav ul i {
    color: var(--renk1);
}

header nav ul li a:hover i,
header nav ul li a:hover {
    background-color: var(--renk1);
    color: white;
    border-radius: 1rem;
}

/* HEADER */

/* BANNER */
section.banner {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* BANNER */