.hizalama1 {
    text-align: center;
    background-color: cadetblue;
}


.hizalama2 {
    background-color: rgb(223, 223, 126);
    text-align: center;

}

.hizalama2 p {
    background-color: rgb(107, 97, 97);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}