  html,
  body {
      height: 100%;
  }

  .container1 {
      width: 1000px;
      background-color: violet;
  }

  .container2 {
      width: 90%;
      height: 50%;
      background-color: yellow;
  }

  .container2 .msg {
      width: 50%;
      background-color: red;
  }