body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

nav.menu {
    width: 10vw;
}

nav.menu .buton {
    background-color: tomato;
    padding: 0.3rem;
    text-align: center;
}

nav.menu ul {
    opacity: 0;
    transition: opacity 1s;
}

nav.menu:hover ul {

    opacity: 1;
}

.trans .button1 {
    background-color: rgb(116, 172, 224);
    color: white;
    margin: 10rem;
    border-radius: 1rem;
    border: 0;
    font-size: 3rem;
    outline: 0;
    transition: background-color;
}

.trans .button1 :hover {
    background-color: yellowgreen;
}