body {
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

nav.menu-yatay ul {
    list-style-type: none;
}

nav.menu-yatay ul li {
    display: inline-block;
    background-color: chocolate;
    margin-right: 1rem;
}

nav.menu-yatay ul li a {
    padding: 0.5rem 1rem;
    background-color: rgb(204, 204, 204);
}

nav.menu-yatay ul li a:hover {
    background-color: darkolivegreen;
    color: white;
}