* {
    font-family: "Roboto", sans-serif;
}

/* SOL MENU */

nav.solmenu {
    background-color: rgb(32, 236, 236);
    text-align: left;
    width: 10rem;
}

nav.solmenu a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

nav.solmenu li:hover {
    background-color: cornflowerblue;
    color: darkred;
}

nav.solmenu li {
    list-style-position: inside;
    padding: 0;
    list-style-type: "🌹";
}

nav.solmenu a:hover {
    color: darkred;
}

nav.solmenu ul {
    list-style-type: none;
    padding: 0;
}

nav.solmenu .aktif {
    background-color: cadetblue;
    color: rgb(218, 211, 211);
}