* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a :link {
    color: rgb(20, 220, 120);
}

a :visited {
    color: black;
}

.merhaba {
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
    color: orangered;
    letter-spacing: ;

}

.paragraf1 {
    letter-spacing: 1.5rem;
    

}